@media (max-width: 1200px)
	.container
		max-width: 960px
	.hotel
		&-grid
			&__slider
				width: 590px

	.card
		width: 230px
		height: 230px

@media (max-width: 992px)
	.container
		max-width: 740px
	.logo
		width: 132px
	.navbar
		&__search
			margin-left: auto
		&-top
			padding: 30px 0px
		&-menu
			&__navigation
				padding: 22px 0px
			&__link
				font-size: 12px
				line-height: 15px

	.search
		&__input
			width: 340px
	
	.hotel
		&-grid
			flex-direction: column
			&__slider
				margin-bottom: 30px
				width: 100%
				height: 450px
		&-about
			flex-direction: row

	.booking
		width: 48.5% //340px

	.map
		width: 48.5% //340px

	.newsletter
		padding: 92px 0 93px 0
		&-wrapper
			// min-width: 740px
			margin: 34 auto			

	.reviews
		padding-bottom: 60px
		&__title
			margin-bottom: 50px
			font-size: 30px 
			line-height: 38px 
		&-slider
			&__item
				max-width: 580px
	
	.activities
		padding-top: 60px
		padding-bottom: 70px
		&__title
			margin-top: 0px
			margin-bottom: 57px
		&-wrapper
			flex-wrap: wrap
		&__card
			margin-bottom: 20px

	.card
		width: 339px
		height: 255px
		

@media (max-width: 768px)
	.container
		max-width: 570px
		width: 92%
	.navbar	
		&__search, &-menu, &__user
			display: none
		&-top
			&__menu
				&-button
					display: flex
					padding: 0
					margin: 0
					width: 16px
					height: 11px
					border: none
					background: none
					cursor: pointer
				&__image
					width: 16px
					height: 11px

	.stars
		flex-basis: inherit

	.hotel
		&-name
			flex-basis: 100%
		&-wrapper
			justify-content: space-between
		&-info
			&__text
				width: 100%
			&__name
				margin-top: 10px
			&__rating
				display: none
			&__offer
				order: -1
				margin-left: 0
	
	.hotel
		&-grid
			&__slider
				height: 350px

	.newsletter
		padding: 76px 0 83px 0
		&__title
			margin-bottom: 37px
		&-wrapper
			flex-direction: column
			align-items: flex-start
			min-width: 280px
			width: 92%
			margin: 20 auto
		&-title
			font-size: 20px 
			line-height: 25px 
			&__strong
				font-size: 30px 
				line-height: 38px 

	.reviews
		padding-bottom: 50px
		&__title
			width: 100%
			margin-bottom: 42px
			font-size: 18px 
			line-height: 23px 
		&-slider
			&__item
				padding: 0 30px 30px				
				width: 100%
				&:before, &:after
					display: none				
			&__button
				top: 30px				
				transform: translate(-50%, 0)
				&_prev
					left: 50%
					margin-left: -65px
					transform: translate(-50%, 0)
				&_next
					right: 50%
					margin-right: -65px
					transform: translate(50%, 0)

	.activities
		padding-top: 40px
		padding-bottom: 60px
	.card
		width: 48%
		height: 255px

@media (max-width: 576px)
	.logo
		width: 99px

	.hotel
		&-about
			flex-direction: column
		&-grid
			&__slider
				height: 250px
				margin-bottom: 20px

	.booking
		width: 100%
	.map
		width: 100%
		margin-top: 20px

	.newsletter
		height: 319px
		&-title
			&__strong
				font-size: 30px 
				line-height: 38px 

	.subscribe
		max-width: 100%
		min-width: 200px
		border: blue 5px

	.reviews
		&__title
			max-width: 250px

	.activities
		&__title
			font-size: 18px 
			line-height: 23px 
			margin-top: 0px
			margin-bottom: 40px
	.card
		width: 100%
		min-width: 280px

@media (max-width: 400px)
	.hotel
		&-grid
			&__slider
				height: 210px

	.booking
		width: 100%
		height: 210px
	.map
		width: 100%
		height: 210px
