@font-face
  font-family: 'Muli'
  src: url('../fonts/Muliregular.woff2') format('woff2'), url('../fonts/Muliregular.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Muli'
  src: url('../fonts/Mulibold.woff2') format('woff2'), url('../fonts/Mulibold.woff') format('woff')
  font-weight: 700
  font-style: normal

*
	box-sizing: border-box

body
  font-family: 'Muli', sans-serif
  color: $text-color
  background-color: $light-blue

.container
  max-width: 1110px
  margin: auto

.image
  max-width: 100%